# sudo apt-get install libbluetooth-dev
# pip install git+https://github.com/pybluez/pybluez.gitPyBluez @ git+https://github.com/pybluez/pybluez.git@82cbba8a1ebd4c1e3442dfafd8581d58c50fa39e
setuptools==75.1.0
wheel==0.44.0
